<div class="card">
    <div class="card-body">
        <h1>Seja bem-vindo Admin</h1><br>

        <h4>Aqui estão as páginas que você pode acessar</h4><br>

        <a href="/admin/categorias"><button class="btn btn-success">Criar categoria</button></a>
        <hr>
        <a href="/admin/postagens"><button class="btn btn-success">Criar postagem</button></a>
        
    </div>
</div>